/.idea/
/shelf/
/workspace.xml
/Users/tanzinatoma/Documents/Github/orangeHRMSelenium/src/main/java/resource/TestData.properties
/reports/
/Users/tanzinatoma/Documents/Github/orangeHRMSelenium/.idea/workspace.xml